/* resist for student */
.ulpadding {
	padding-bottom: 10px;
}

#classFrame {
	border: 1px solid;
	width: 150px;
}

.tatleColor {
	background-color: #98FEFC;
}

#resistOutFrame {
	margin-top: 200px;
	display: flex;
	flex-wrap: wrap;
}

#resistInFrame {
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	flex-wrap: wrap;
}

.notice {
	font-size: 13px;
	display: flex;
	flex-wrap: wrap;
}

.tableFrame {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}



/* resist for student END */
.studentInform {
	width: 500px;"
}

.sunScore {
	font-size: 20px; 
	display: flex; 
	flex-wrap: wrap;
}